<html lang='en'>
    
    <%- include('./partials/header.ejs') %>
    <body>
      
        <%- include('./partials/nav.ejs') %>


       

        <div class="about content">
            <h2>About Us</h2>
            <p>Something about us.</p>
            <p>Something about us.</p>
            <p>Something about us.</p>
            <p>Something about us.</p>
        </div>
    </body>

    <%- include('./partials/footer.ejs') %>
</html>